.app-container {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #e9ecef;
  min-height: 100vh;
}

.app-title {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;

}
.title-holder{
  background-color: white;
  padding: 5px;
}
.content {
  display: grid;
  gap: 20px;

}
